:root{
    --background: #e8e8e8;
}

body{
    font-family: "Homenaje", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.container{
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.player{
    width: 300px;
    height: 600px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255,255,255,0.5);
}

.player_btn{
    height: 30px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    border-width: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    box-shadow: 8px 8px 16px rgba(163, 177, 198, 0.6), -8px -8px 16px rgba(255,255,255,0.5);
}

.titulo{
    font-weight: 600;
    font-size: 0.8em;
    color: #a1a1a1;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 30px;
}

.album{
    width: 150px;
}

.name_song{
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    opacity:0.5;
    margin: 0;
}

.name_artist{
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    opacity:0.5;
    margin: 0;
}

.player_audio{
    visibility: hidden;
}

.player_level{
    width: 80%;
    -webkit-appearance: none; 
    outline: none;
    border: none;
    padding: 0;
    margin-top: 40px;
}

.player_level::-webkit-slider-runnable-track{
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
}

.player_level::-webkit-slider-thumb{
    -webkit-appearance: none;
    border-radius: 100%;
    background-color: #5c87fe;
    height:18px;
    width:18px;
    margin-top: -7px;
}

